@import "_variables";
@import "_animations";

html.animatedOut {
	animation: hinge 2s;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	overflow-x: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: $black;
	color: $white;
}
.header-logo {
	position: absolute;
	img {
		height: 50px;
		margin-top: 30px;
		filter: invert(100%);
	}
}
.menu-btn {
	position: absolute;
	right: 2rem;
	top: 2rem;
	height: 20px;
	width: 28px;
	cursor: pointer;
	z-index: 1;
	transition: all 1s ease;
	overflow: hidden;

	&-burger {
		position: absolute;
		overflow: hidden;
		right: 0;
		top: 0.5rem;
		width: 28px;
		height: 3px;
		background: $white;
		transition: all 1s ease;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		width: 28px;
		height: 3px;
		background: $white;
		transition: all 1s ease;
	}
	&::after {
		content: "";
		position: absolute;
		top: 1rem;
		width: 20px;
		height: 3px;
		background: $white;
		transition: all 1s ease;
	}
	&.open {
		transform: rotate(720deg);
		background: transparent;
		z-index: 99999;
		&::before {
			transform: rotate(45deg) translate(5px, 8px);
		}
		&::after {
			width: 28px;
			transform: rotate(-45deg) translate(3px, -7px);
		}
	}
	&-burger.open {
		display: none;
	}
}
.navbar {
	position: absolute;
	top: 2rem;
	width: 90vw;
	opacity: 0.8;
	visibility: hidden;
	display: flex;
	justify-content: center;
	z-index: 99;

	& .myPic {
		height: 130px;
		width: 130px;
		top: -5px;
		position: relative;
		left: -13vw;
		border-radius: 50px;
		padding-right: 30px;
		background: url("https://res.cloudinary.com/lawfirm1000/image/upload/v1594881667/Portfolio%20site/femi-lawal-1_qbgrs1.png")
			top center / cover no-repeat;
		border: 2px solid $primary;
		transform: translateY(-120%);
		transition: all 2s ease;
	}
	&.open {
		visibility: visible;
		& .myPic {
			transform: translateY(0);
		}
	}
}
.navbar ul {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: $black;
	padding-right: 1rem;
	transform: translateY(-100%);
	transition: all 1s ease;

	&.open {
		transform: translateY(0);
	}
}
.navbar li {
	list-style: none;

	a {
		font-size: 20px;
		text-decoration: none;
		color: $white;

		&.active {
			color: $primary;
			&::before {
				content: "<";
				color: $primary;
			}
			&::after {
				content: " />";
				color: $primary;
			}
		}
		&:hover {
			color: $primary;
			transition: all 1s;
			&::before {
				content: "<";
				color: $primary;
			}
			&::after {
				content: " />";
				color: $primary;
			}
		}
	}
}

@media (min-width: 600px) {
	.menu-btn {
		left: 85vw;
	}
	.navbar .myPic {
		left: -20vw;
	}
}

.section-bg {
	background: linear-gradient(to right, #0000663d, rgba(255, 0, 0, 0.397)),
		url("https://res.cloudinary.com/lawfirm1000/image/upload/v1595514497/Portfolio%20site/background_bxzae9.jpg")
			center center / cover no-repeat;
	opacity: 0.1;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
}
.home {
	position: relative;
	margin-top: 30vh;
	cursor: default;
	.line1 h1,
	.line3 h1 {
		font-size: 1.5rem;
		z-index: 1;
	}
	.line2 {
		h1 {
			font-size: 4rem;
			margin-top: 0.5rem;
			border-bottom: 2px solid $white;
			z-index: 1;
		}
	}
	.lastName {
		color: $primary;
	}
}
.home-text {
	display: flex;
	overflow: hidden;
	justify-content: flex-start;
}
.home-text h1:hover {
	display: flex;
	animation: rubberBand 1s;
	overflow: hidden;
}

#particles-js {
	position: fixed;
	height: 100vh;
	top: 0;
	width: 100vw;
}

.home-social {
	position: relative;
	transition: all 1s;
	margin-top: 30vh;
	z-index: 1;
	overflow: hidden;

	i {
		color: $white;
		padding: 5px;

		&:hover {
			color: $primary;
			animation: rubberBand 1s;
			transition: all 1s;
		}
	}
}
footer {
	position: relative;
	margin-top: -1rem;
	margin-left: 60vw;
}
@media (max-width: 768px) {
	.home-social {
		margin-top: 35vh;
	}
	footer {
		margin-top: -2rem;
		margin-left: 50vw;
	}
}
.contact-text {
	position: relative;
	margin-top: 25vh;
	width: 100%;
	z-index: 1;

	h1 span {
		color: $primary;
	}
	a {
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 10px;
		border: 1px solid $white;
		border-radius: 20px;
		background: linear-gradient(
			to right,
			rgba($primary, 0.1),
			rgba($primary, 0.5)
		);
		&:hover {
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 7px;
			margin-top: 5px;
			text-decoration: none;
			transition: all 0.4s;
			background: linear-gradient(
				to right,
				rgba($primary, 0.3),
				rgba($primary, 0.7)
			);
		}
		i ~ span {
			color: $white;
			font-size: 14px;
		}
		span {
			color: $primary;
		}
	}
}

@media (max-width: 760px) {
	.contact-text {
		margin-top: 20vh;
	}
}

.about-text h2 {
	perspective: 500px;
	transform-style: preserve-3d;

	&:hover .char {
		animation: plop 2s ease-out infinite both;
		animation-delay: calc(0.05s * var(--char-index));
	}

	@keyframes plop {
		0% {
			opacity: 0;
			transform: translate3d(0px, 10px, 400px) rotate(180deg);
			animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
		}
		20% {
			transform: translate3d(0px, -20px, 200px) rotate(90deg);
			animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1.1);
		}
		40%,
		70% {
			opacity: 1;
			transform: translate3d(0px, 0px, 0px) rotate(0deg);
		}
		90%,
		100% {
			opacity: 0;
			transform: translate3d(0px, 10px, -200px) rotate(-90deg);
			animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
		}
	}
}
