@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(700px);
    transform: translateY(700px);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  10%,
  30% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  70%,
  90% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }
}

@keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }
}

.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1) translateY(-2000px);
    transform: scale(0.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(60px);
    transform: scale(0.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1) translateY(-2000px);
    transform: scale(0.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(60px);
    transform: scale(0.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

html.animatedOut {
  -webkit-animation: zoomInDown 1s;
          animation: zoomInDown 1s;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #0a0101;
  color: #fff;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
p {
  overflow-y: hidden !important;
}

.header-logo {
  position: absolute;
}

.header-logo img {
  height: 50px;
  margin-top: 30px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.menu-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
}

.menu-btn-burger {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: 1rem;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.menu-btn.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
  z-index: 99999;
}

.menu-btn.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.menu-btn-burger.open {
  display: none;
}

.navbar {
  position: absolute;
  top: 2rem;
  width: 90vw;
  opacity: 0.8;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
}

.navbar .myPic {
  height: 130px;
  width: 130px;
  top: -5px;
  position: relative;
  left: -13vw;
  border-radius: 50px;
  padding-right: 30px;
  background: url("https://res.cloudinary.com/lawfirm1000/image/upload/v1594881667/Portfolio%20site/femi-lawal-1_qbgrs1.png") top center/cover no-repeat;
  border: 2px solid #ff652f;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.navbar.open {
  visibility: visible;
}

.navbar.open .myPic {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #0a0101;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar ul.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar li {
  list-style: none;
}

.navbar li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.navbar li a.active {
  color: #ff652f;
}

.navbar li a.active::before {
  content: "<";
  color: #ff652f;
}

.navbar li a.active::after {
  content: " />";
  color: #ff652f;
}

.navbar li a:hover {
  color: #ff652f;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar li a:hover::before {
  content: "<";
  color: #ff652f;
}

.navbar li a:hover::after {
  content: " />";
  color: #ff652f;
}

@media (min-width: 600px) {
  .menu-btn {
    left: 85vw;
  }
  .navbar .myPic {
    left: -20vw;
  }
}

.section-bg {
  background: -webkit-gradient(linear, left top, right top, from(#0000663d), to(rgba(255, 0, 0, 0.397))), url("https://res.cloudinary.com/lawfirm1000/image/upload/v1595514497/Portfolio%20site/background_bxzae9.jpg") center center/cover no-repeat;
  background: linear-gradient(to right, #0000663d, rgba(255, 0, 0, 0.397)), url("https://res.cloudinary.com/lawfirm1000/image/upload/v1595514497/Portfolio%20site/background_bxzae9.jpg") center center/cover no-repeat;
  opacity: 0.1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.home {
  position: relative;
  overflow: hidden;
  margin-top: 30vh;
  cursor: default;
}

.home .line1 h1,
.home .line3 h1 {
  font-size: 1.5rem;
  overflow: hidden;
  z-index: 1;
}

.home .line2 h1 {
  font-size: 4rem;
  overflow: hidden;
  margin-top: 0.5rem;
  border-bottom: 2px solid #fff;
  z-index: 1;
}

.home .lastName {
  color: #ff652f;
}

.home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-text h1:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rubberBand 1s;
          animation: rubberBand 1s;
  overflow: hidden;
}

#particles-js {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100vw;
}

.home-social {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-top: 30vh;
  z-index: 1;
  overflow: hidden;
}

.home-social i {
  color: #fff;
  overflow: hidden;
  padding: 5px;
}

.home-social i:hover {
  color: #ff652f;
  -webkit-animation: rubberBand 1s;
          animation: rubberBand 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer {
  position: relative;
  margin-top: -1rem;
  overflow: hidden;
  margin-left: 60vw;
}

@media (max-width: 768px) {
  .home-social {
    margin-top: 35vh;
  }
  footer {
    margin-top: -2rem;
    margin-left: 50vw;
  }
}

.contact-text {
  position: relative;
  margin-top: 25vh;
  width: 100%;
  z-index: 1;
}

.contact-text h1 span {
  color: #ff652f;
  overflow: hidden;
}

.contact-text a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 101, 47, 0.1)), to(rgba(255, 101, 47, 0.5)));
  background: linear-gradient(to right, rgba(255, 101, 47, 0.1), rgba(255, 101, 47, 0.5));
}

.contact-text a:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  margin-top: 5px;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 101, 47, 0.3)), to(rgba(255, 101, 47, 0.7)));
  background: linear-gradient(to right, rgba(255, 101, 47, 0.3), rgba(255, 101, 47, 0.7));
}

.contact-text a i ~ span {
  color: #fff;
  font-size: 14px;
}

.contact-text a span {
  color: #ff652f;
}

@media (max-width: 760px) {
  .contact-text {
    margin-top: 20vh;
  }
}

.about-text h2 {
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.about-text h2:hover .char {
  -webkit-animation: plop 2s ease-out infinite both;
          animation: plop 2s ease-out infinite both;
  -webkit-animation-delay: calc(0.05s * var(--char-index));
          animation-delay: calc(0.05s * var(--char-index));
}

@-webkit-keyframes plop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 10px, 400px) rotate(180deg);
            transform: translate3d(0px, 10px, 400px) rotate(180deg);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
            animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
  }
  20% {
    -webkit-transform: translate3d(0px, -20px, 200px) rotate(90deg);
            transform: translate3d(0px, -20px, 200px) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1.1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1.1);
  }
  40%,
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
            transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
  90%,
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 10px, -200px) rotate(-90deg);
            transform: translate3d(0px, 10px, -200px) rotate(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
            animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
  }
}

@keyframes plop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 10px, 400px) rotate(180deg);
            transform: translate3d(0px, 10px, 400px) rotate(180deg);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
            animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
  }
  20% {
    -webkit-transform: translate3d(0px, -20px, 200px) rotate(90deg);
            transform: translate3d(0px, -20px, 200px) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1.1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1.1);
  }
  40%,
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
            transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
  90%,
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 10px, -200px) rotate(-90deg);
            transform: translate3d(0px, 10px, -200px) rotate(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
            animation-timing-function: cubic-bezier(0.5, 0, 0.8, 0.25);
  }
}
/*# sourceMappingURL=App.css.map */