.skills-text {
	position: relative;
	margin-top: 20vh;
	overflow: hidden;
	z-index: 1;
}
h1 span {
	color: #ff652f;
}

.site {
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}
.site-cont,
main {
	position: relative;
	overflow: hidden;
}
.site-cont {
	margin-top: -4rem;
}
.hexagon {
	position: initial;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #ff652f;
	height: 80px;
	width: 50px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.hexagon::before,
.hexagon::after {
	content: "";
	position: absolute;
	background-color: inherit;
	border-top: 2px solid #ff652f;
	border-bottom: 2px solid #fff;
}
.hexagon::before {
	height: 82px;
	width: 50px;
	top: -2px;
	transform: rotateZ(-62deg);
}
.hexagon::after {
	height: 86px;
	width: 45px;
	top: -4px;
	transform: rotateZ(58deg);
}
.hexagon i {
	font-size: 40px;
}
.site-div {
	position: relative;
	width: 100%;
}
.site-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.site-text p {
	margin-left: 25px;
}
@media (max-width: 400px) {
	.site-div {
		width: 100%;
	}
}
.section1 {
	margin-bottom: 80px;
}
.project {
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 50px;
	z-index: 1;
	overflow: hidden;
}
.project h1 {
	padding: 20px;
	margin: 30px;
}
.project h1 span {
	padding-bottom: 15px;
	border-bottom: 2px solid #fff;
}
.project-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.project-item .project-img {
	width: 300px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-img:hover::before {
	transform: translateY(0);
	opacity: 0.6;
	transition: all 1s;
}
.project-item .project-img:hover .project-links {
	transform: translateY(0);
	opacity: 1;
	transition: all 1s;
}
.project-img img {
	width: 100%;
}
.project-img::before {
	content: "";
	width: inherit;
	height: inherit;
	background: #ff652f;
	position: absolute;
	transform: translateY(-100%);
	opacity: 0;
	transition: all 1s;
}
.project-item .project-links {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transform: translateY(100%);
	opacity: 0;
	transition: all 1s;
}
.project-links a {
	color: #fff;
	background: #ff652f;
	padding: 5px 10px;
	margin: 0 20px;
	border-radius: 10px;
}
.project-links a:hover {
	text-decoration: none;
}
.project-item button {
	color: #fff;
	border: none;
	background: #ff652f;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
}
.project-item h3 {
	margin-top: 20px;
	text-align: left;
}
.project-item .tech {
	margin-bottom: 40px;
}
button:focus {
	outline: none;
}
